h1 {
    text-align:center;
}
.prof{


    position:relative;
    text-align:center;
    padding:40px 0;
    height: 300px;
    margin: 0 auto;
}



.prof::before{
    display: block;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    padding:5px;
}

.prof span{
    display: background-break: continuous;
padding:2px 6px;

    color:#186C72;
    border-radius:4px;
    margin:3px;
    cursor:default;
    }


.prof span::after{



    display:inline-block;
    padding:2px;
}



.prof span::before{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    content:attr(data-title);
    color: #11110e;


    opacity:0;


    -webkit-transition:opacity 0.4s;
    transition:opacity 0.4s;
}

.prof span:hover::before{
    opacity:1;
}


