
.dice{
    float: left;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    margin-left: 20px;
    margin-top: 4px;
    background: #A070FF;
    border: #999 1px solid;
    font-size: 24px;
    text-align: center;
    display: block;
        color: #FFF;
}
.dice1{
    float: left;
    height: 50px;
    padding-top: 10px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    display: block;
}


.student{
    float: left;
    margin-left: 20px;
    width: 132px;
    background: #A070FF;
    color: #FFF;
    border: #999 1px solid;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    }
.student2{
    float: left;
    margin-top:20px;
}

.btnScolarship{
        margin-top: 12px;
    width: 250px;
    height: 50px;
}

.student1 span{
    margin-top: 12px;
    font-size: 24px;
    margin-left: 5px;
}


#water{
    margin-top: -325px;
}

#game {
    float: left;
}
