.navbar-inverse { background-color: #640AC8}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #A070FF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #A070FF}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #A070FF}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #640AC8}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #757575}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.btn-searchBtn {
  background-color: #A070FF;
  border-color: #A070FF;
    color: #FFF;
}
.btn-searchBtn:hover,
.btn-searchBtn:focus,
.btn-searchBtn:active,
.btn-searchBtn.active {
  background-color: #8f57ff;
  border-color: #7e3dff;
}
.btn-searchBtn.disabled:hover,
.btn-searchBtn.disabled:focus,
.btn-searchBtn.disabled:active,
.btn-searchBtn.disabled.active,
.btn-searchBtn[disabled]:hover,
.btn-searchBtn[disabled]:focus,
.btn-searchBtn[disabled]:active,
.btn-searchBtn[disabled].active,
fieldset[disabled] .btn-searchBtn:hover,
fieldset[disabled] .btn-searchBtn:focus,
fieldset[disabled] .btn-searchBtn:active,
fieldset[disabled] .btn-searchBtn.active {
  background-color: #A070FF;
  border-color: #A070FF;

}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/programming.jpg);
    color: white;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.jumbotron h2{
    color: #FFF;
    text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
}
.navbar-brand {
  font-size: 30px;
}

 .courses h4{
color: #A070FF;
 }
.courses {
    border-right: 1px solid #A070FF;
padding-right: 15px;
 }

.article h4{
color: #A070FF;
 }
 .article {
    border-bottom: 1px solid #A070FF;
padding-right: 15px;
 }

.course-article{
  margin-top: 20px;
}

.course-article img{
  padding-right: 10px;
}

@media(max-width:767px){
.navbar-brand {
  padding-bottom: 100px;

}
