.navbar-inverse { background-color: #640AC8}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #A070FF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #A070FF}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #A070FF}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #640AC8}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #757575}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.btn-searchBtn {
  background-color: #A070FF;
  border-color: #A070FF;
}
.btn-searchBtn:hover,
.btn-searchBtn:focus,
.btn-searchBtn:active,
.btn-searchBtn.active {
  background-color: #8f57ff;
  border-color: #7e3dff;
}
.btn-searchBtn.disabled:hover,
.btn-searchBtn.disabled:focus,
.btn-searchBtn.disabled:active,
.btn-searchBtn.disabled.active,
.btn-searchBtn[disabled]:hover,
.btn-searchBtn[disabled]:focus,
.btn-searchBtn[disabled]:active,
.btn-searchBtn[disabled].active,
fieldset[disabled] .btn-searchBtn:hover,
fieldset[disabled] .btn-searchBtn:focus,
fieldset[disabled] .btn-searchBtn:active,
fieldset[disabled] .btn-searchBtn.active {
  background-color: #A070FF;
  border-color: #A070FF;
}

.navbar-brand {
  font-size: 30px;
}
body{
  background-color: #e4e4e4;
}