.flip3D {
    width: 160px;
    height: 160px;
    margin: 30px;
    color: yellow;
    text-align:center;
    float: left;
}

.flip3D > .front{
    position: absolute;
    -webkit-transform: perspective( 600px ) rotateY( 0deg );
    transform: perspective( 600px ) rotateY( 0deg );
    background: black;
    width: 160px;
    height: 160px;
    border-radius: 11px; 
    -moz-border-radius: 11px; 
    -webkit-border-radius: 11px; 
    border: 5px groove #A070FF;
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
 }

.flip3D > .back {
    position: absolute;
    -webkit-transform: perspective( 600px ) rotateY( 180deg );
    transform: perspective( 600px ) rotateY( 180deg );
    background: black;
    width: 160px;
    height: 160px;
    border-radius: 11px; 
    -moz-border-radius: 11px; 
    -webkit-border-radius: 11px; 
    border: 5px groove #A070FF;
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}

.flip3D:hover > .front {
    -webkit-transform: perspective( 600px ) rotateY( -180deg );
    transform: perspective( 600px ) rotateY( -180deg );
}

.flip3D:hover > .back {
    -webkit-transform: perspective( 600px ) rotateY( 0deg );
    transform: perspective( 600px ) rotateY( 0deg );
}

#one-back {
    vertical-align:bottom;
    background:url("../images/teachers/B01.jpg") no-repeat;
}
#one-front {
    background:url("../images/teachers/01.jpg") no-repeat;
}

#two-back {
    background:url("../images/teachers/B02.jpg") no-repeat;
}
#two-front {
    background:url("../images/teachers/02.jpg") no-repeat;
}

#three-back {
    background:url("../images/teachers/B03.jpg") no-repeat;
}
#three-front {
    background:url("../images/teachers/03.jpg") no-repeat;
}

#four-back {
    background:url("../images/teachers/B04.jpg") no-repeat;
}
#four-front {
    background:url("../images/teachers/04.jpg") no-repeat;
}

#five-back {
    background:url("../images/teachers/B05.jpg") no-repeat;
}
#five-front {
    background:url("../images/teachers/05.jpg") no-repeat;
}

#six-back {
    background:url("../images/teachers/B06.jpg") no-repeat;
}
#six-front {
    background:url("../images/teachers/06.jpg") no-repeat;
}

#seven-back {
    background:url("../images/teachers/B07.jpg") no-repeat;
}
#seven-front {
    background:url("../images/teachers/07.png") no-repeat;
}

#eight-back {
    background:url("../images/teachers/B08.jpg") no-repeat;
}
#eight-front {
    background:url("../images/teachers/08.jpg") no-repeat;
}

#nine-back {
    background:url("../images/teachers/B09.png") no-repeat;
}
#nine-front {
    background:url("../images/teachers/09.jpg") no-repeat;
}

#ten-back {
    background:url("../images/teachers/B10.jpg") no-repeat;
}
#ten-front {
    background:url("../images/teachers/10.png") no-repeat;
}

#eleven-back {
    background:url("../images/teachers/B11.jpg") no-repeat;
}
#eleven-front {
    background:url("../images/teachers/11.png") no-repeat;
}